*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: black;
    background-color: white;
}
.flex_container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* border: 2px red solid; */
    width: 100%;
    height: auto;
}

.flex_item{
    width: 100%;
    /* border: 2px blue solid; */
    height: 1rem;
    height: auto;
    padding: 2px;
    margin-bottom: 2px;
}

/*------------------navigation bar styling---------------- */

.navbar{
    display: flex;
    width: 94%;
    padding: 2px 15px;
    /* border: green 2px solid; */
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.navbar_item_desktop{
    display: flex;
    /* border: 2px solid rgb(243, 239, 42); */
    width: auto;
    height: 100%;
    align-items: center;
}

.navbar_item_mobile{
    display: none;
    /* border: 2px solid rgb(243, 239, 42); */

    width: auto;
    height: 100%;
    align-items: center;
}

.navbar_mobile_icon_spacing{
    padding: 5px;
}

.navbar_nested_flex_item{
    display: inline-flex;
    /* border: black 2px solid; */
    padding: 12px 11px;
    height: 100%;
}
.navbar_nested_flex_item span{
    margin: 0px 3px;
}

.logo{
    width: 110px;
}

.navbar_nested_flex_item span{
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
}

.navbar_nested_flex_item span:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    cursor: pointer;
}

.accountIcon{
    width: 20px;
    cursor: pointer;
}


/*-------------Section 1 styling---------------- */
.item2{
    width: 99%;
    height: auto;
    background: linear-gradient(#c7e1fa, #b5d7fa);
    margin-bottom: 50px;
}

.section1{
    display: flex;
    position: relative;
    /* border: grey 2px solid; */
    height: auto;
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.section1_item1{
    margin-left: 110px;
    width: 35%;
    /* border: 2px solid mediumspringgreen; */
}

.section1_item2{
    width: 55%;
    height: 100%;
    margin-left: 100px;
    /* border: 2px solid mediumspringgreen; */
    overflow: hidden;
}

.section1_item2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section1_item1 h1{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.section1_item1 button{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px  ;
    border: none;
    background-color: #0067b8;
    color: white;
    margin-right: 30px;
    transition: 100ms;
    cursor: pointer;
}

.section1_item1 button:hover{
    background-color: #035695;
}

.section1_item1 p{
    padding-bottom: 20px;
    line-height: 150%;
}

.section1_item1 span{
    font-weight: 500;
}

.text_and_arrow{
    display: inline-flex;
    padding: 0px;
    text-align: center;
}


.decoration:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
    padding-right: 5px;
    transition: 200ms ease-in;

}



/* -----------------cards sections------------------- */

.cards_section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid olivedrab; */
    width: 95%;
}

.card{
    /* border: #0067b8 2px solid; */
    width: 23%;
    height: auto;
    margin: 10px 12px;
}

.card h2{
    padding: 10px 5px 5px;
}
.card_image{
    width: 100%;
}

.card_section{
    padding: 50px 0px;
}

.card_section2{
    padding: 50px 0px;
}

.card_description{
    padding: 20px 5px
}

.card_link{
    color: blue;
    margin: 5px 0px;
}

.card_link span img{
    color: blue;
}
    
/* -------------section 3------------ */

.section3{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
}

.section3_item1{
    display: block;
    /* margin: auto; */
    /* width: 91%; */
    overflow: hidden;
    /* border: #a6d0f8 2px solid; */
}

.section3_item1 img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.desktop_image{
    display: block;
}
.mobile_image{
    width: 100%;
    display: none;
}

.section3_item2{
    position:absolute;
    left: 13%;
    top: 35%;
    width: 25%;
    /* border: #a6d0f8 2px solid; */
    height: auto;
}

.section3_item2 h1{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.section3_item2 button{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px  ;
    border: none;
    background-color: #0067b8;
    color: white;
    margin-right: 30px;
    transition: 100ms;
    cursor: pointer;
}

.section3_item2 button:hover{
    background-color: #035695;
}

.section3_item2 p{
    padding-bottom: 20px;
    line-height: 150%;
}

.second_card_section_title{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0px 0px 15px 50px;
}

.SM_handles{
    width: 95%;
    padding: 30px 10px;
    /* border: #0067b8 2px solid; */
}

.SM_handles div img{
    font-size: 10px;
}

.SM_handles_spacing{
    padding: 10px 15px;
}

.footer{
    display:flex;
    position: relative;
    /* flex-wrap: wrap; */
    width: 96%;
    margin: auto;
    /* border: black 2px solid; */
    padding-left: 20px;
    justify-content: center;
}

.footer_space{
    background-color: #f2f2f2;
    padding: 30px 5px;
}

.footer_item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: #035695 2px solid; */
    /* width: 28%; */
    margin: 2px;
    height: auto;
    padding-left: 5px;
}

.footer_section_heading{
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(84, 84, 84);
}

.footer_section_link{
    display: inline-block;
    color: rgb(59, 59, 59);
    padding: 8px 0px;
    font-size: 11px;
}

.footer_section_link:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.footer_last_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_last_section_item{
    display: inline-flex;
    align-items: center;
    width: 15%;
    height: auto;
    /* border: red 2px solid; */
    padding: 5px 10px;
}
.footer_icon{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.privacy_choice{
    position: absolute;
    left:200px;
}

.expand{
    width: 50%;
}

.last_section_item_right{
    width: 20%;
    height: auto;
    /* border: #035695 2px solid; */
    text-align: center;
}

.hidden_menu{
    position: absolute;
    width: 90%;
    top: 45px;
    background-color: #f2f2f2;
    display: none;
    
}

.dropdown:hover{
    border: 1px black dotted;
}

.show{
    display: block;
}

.dropdown_button_background{
    background-color: #f2f2f2;
    border: 1px black dotted;
}
.dropbtn{
    display: inline-flex;
}
.hide_text{
    display: inline;
}

/* -----------back to top button----------- */

/* #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome 
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.shows {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  } */

.menu_items_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #f2f2f2;
}

.menu_item{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 60px;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.hide_menu{
    display: none;
}
 
.show_menu{
    display: block;
}

@media screen and (min-width: 1930px){
    .navbar{
        max-width: 1750px;
    }
    .item2{
        max-width: 1900px;
    }
    .section1_item1{
        max-width: 30%;
        margin-left: 10%;
    }
    .card_section{
        max-width: 1930px;
    }
    .section3{
        max-width: 2000px;
    }
    .SM_handles{
        max-width: 1850px;
    }
    .footer{
        max-width: 1860px;
    }
}



@media (max-width: 1400px) {
    .hide_text{
        display: none;
    }
    .section1_item2 img{
        object-fit: fill;
    }

}

@media (max-width: 1270px){
    .card{
        width: 47%;
    }
}

@media (max-width: 1080px) {
    .section1_item2{
        width: 100%;
        margin: auto;
        /* border: 2px solid mediumspringgreen; */
        overflow: hidden;
    }

    .section1_item1{
        width: 90%;
        position: absolute;
        bottom: -80px;
        margin: auto;
        left: 5%;
        padding: 50px;
        background-color: white;
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
    }

    .card_section{
        padding-top: 100px;
    }

    .card{
        width: 47%;
    }

    .desktop_image{
        display: none;
    }

    .mobile_image{
        display: block;
    }

    .section3_item1{
        width: 100%;
        object-fit: cover;
    }

    .section3_item2{
        width: 97%;
        position: absolute;
        height: 190px;
        margin: auto;
        left: 15px;
        bottom: -400px;
        padding: 20px 0px 20px 50px;
        background-color: white;
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
    }

    .second_card_section_title{
        margin-top: 100px;
    }

    .text_and_arrow{
        color: blue;
    }
}

@media (max-width: 850px) {

    .section1{
        flex-direction: column-reverse;
    }

    .card_section {
        padding-top: 50px;
    }   

    .section1_item1{
        width: 100%;
        position: static;
        padding: 20px;
        background-color: white;
        box-shadow: none;
    }

    .section1_title h1{
        font-size: 1.5rem;
    }
    .section1_item2{
        width: 100%;
        object-fit: fill;
    }
    .card{
        width: 96%;
    }

    .section3_item2{
        width: 100%;
        position: static;
        padding: 20px;
        background-color: white;
        box-shadow: none;
    }

    .second_card_section_title {
        margin-top: 0px;
    }

    .card_section2 {
        padding: 0px;
    }

    .navbar_item_desktop{
        display: none;
    }

    .navbar_item_mobile{
        width: 100%;
        display: flex;
        /* border: #0067b8 2px solid; */
        justify-content: space-between;
        align-items: center;
    }

    .navbar{
        width: 100%;
        padding: 2px 5px;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    .navbar_nested_flex_item{
        display: inline-flex;
        /* border: 2px solid black; */
    }

    .show{
        display: none;
    }
}

@media (min-width: 850px){
    .show_menu{
        display: none;
    }
}